/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.App h1 {
  font-size: 32px;
  text-align: center;
}
.App form {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.decks {
  display: grid;
  width: 500px;
  grid-template-columns: repeat(3,1fr);
  margin: 0 auto;
  grid-gap: 10px;
}
.decks li {
  position: relative;
  display: block;
  height: 100px;
  border: 1px solid gray;
  background: white;
  border-radius: 10px;
  color: #999;
}
.decks li button {
  position: absolute;
  font-size: 12px;
  top: 0;
  right: 0;
  background: white;
}
.decks li button:hover{
  background: red;
  color: white;
}